---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Dulce Tentación">
  <div
    class="flex flex-col items-center justify-center h-screen bg-gradient-to-r from-pink-300 to-purple-300"
  >
    <h1 class="text-4xl font-dancing-script text-pink-600">
      ¡Bienvenidos a Dulce Tentación!
    </h1>
    <p class="text-xl font-inter text-gray-700">Postres que enamoran</p>
  </div>
</Layout>
